        body {
            background-color: #30302f;
            color: white;
            font-size: 16px;
        }
        h1 {
            color:Lightskyblue;font-size:60px;text-align:center
        }
        .whitetext {
            color:white;
            text-align: center;
        }
        table {
            margin-left:auto;
            margin-right:auto;
        }