        body {
            background-color:#30302f
        }
        h1 {
            color:#FFFFFF;font-size:60px;text-align:center
        }
        p {
            color:#FFFFFF
        }
        b {
            color:#FFFFFF
        }
        i {
            color:#FFFFFF
        }
        a {
            color:#FFFFFF
        }
        ul {
            color:#FFFFFF
        }
        ol {
            color:#FFFFFF
        }
        .headerRow {
            background-color:orange
        }
        .oddRow {
            background-color:lightBlue
        }
        .evenRow {
            background-color:orange
        }